@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

#main-background {
  background: #f3f3e1;
}

#local-video {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  opacity: 1;
}

#local-video video {
  width: 100%;
  position: absolute;
  z-index: -3;
}

#toolbar {
  text-align: center;
  display: none;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 50px;
  color: white;
}

#icons-tools {
  display: inline-block;
  z-index: 4;
  background: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  position: relative;
  left: -0.5px;
  top: -10px;
  z-index: 20000000000;
  border-radius: 4px;
}

[class^="main-"], [class*=" main-"] {
  display: inline-block;
  cursor: pointer;
  top: 2px;
}

#local-video video::-webkit-media-controls {
  display: none !important;
}

#remote-video video::-webkit-media-controls {
  display: none !important;
}

#screen-share video::-webkit-media-controls {
  display: none !important;
}

.remote-video-right {
  height: 150px;
  width: 190px;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  left: 147px;
}

.main-camera-icon-active {
  background-image: url('images/buttons/CAM/cam-active.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.main-camera-icon {
  background-image: url('images/buttons/CAM/cam-normal.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.main-camera-icon:hover {
  background-image: url('images/buttons/CAM/cam-hover.png');
}

.main-camera-icon:active {
  background-image: url('images/buttons/CAM/cam-active.png');
}

.main-audio-icon-active {
  background-image: url('images/buttons/MIC/mic-active.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.main-audio-icon {
  background-image: url('images/buttons/MIC/mic-normal.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.main-audio-icon:hover {
  background-image: url('images/buttons/MIC/mic-hover.png');
}

.main-audio-icon:active {
  background-image: url('images/buttons/MIC/mic-active.png');
}

.main-screen-icon-active {
  background-image: url('images/buttons/SCREEN/screen-active.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;

}

.main-screen-icon {
  background-image: url('images/buttons/SCREEN/screen-normal.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.main-screen-icon:hover {
  background-image: url('images/buttons/SCREEN/screen-hover.png');
}

.main-screen-icon:active {
  background-image: url('images/buttons/SCREEN/screen-active.png');
}

.main-phone-drop-icon-active {
  background-image: url('images/buttons/PHONE/phone-active.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;

}

.main-phone-drop-icon {
  background-image: url('images/buttons/PHONE/phone-normal.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.main-phone-drop-icon:hover {
  background-image: url('images/buttons/PHONE/phone-hover.png');
}

.main-phone-drop-icon:active {
  background-image: url('images/buttons/PHONE/phone-active.png');
}

#black-overlay {
  background: rgba(0, 0, 0, 0.96);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 20;
  text-align: center;
  display: none;
  -webkit-animation-duration: 100ms;
  -moz-animation-duration: 100ms;
}

#my-screen-share {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

#screen-share {
  overflow: hidden;
}

#my-remote-screen-share {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

#remote-screen-share {
  overflow: hidden;
}
